// Color System
$white = #fff
$gray-100 = #f8f9fa
$gray-200 = #e9ecef
$gray-300 = #dee2e6
$gray-400 = #ced4da
$gray-500 = #adb5bd
$gray-600 = #6c757d
$gray-700 = #495057
$gray-800 = #343a40
$gray-900 = #212529
$black = #000

// Backgroun Color
$background-color = #fff;
$mask-background-color = rgba(0, 0, 0, 0.3);



$color-bg = rgba(255,255,255, 1)
$color-bg-d = rgba(255, 255, 255, .3)
$color-highlight-bg = #333
$color-dialog-bg = #666

$theme-color-dark = #35495E;
$theme-color = #41B883;
$theme-color-md = #89D0AB;
$theme-color-sm = #C5E8D4;
// $color-sub-theme = #E51C5A
// $theme-color-sub = #E51C5A

// Header Color
$header-color = $theme-color-dark

// Text Color
$text-color-sm = $gray-300
$text-color-md = $gray-500
$text-color-lg = $gray-600

$text-color = $theme-color-dark
$text-color-md = $gray-600
$text-color-sm = $gray-500
$text-color-xs = $gray-300

// Text Family
$font-family = 'AliHYAiHei',sans-serif
$font-family-al = 'Lobster', cursive

// Text Size
$font-size-xs = 10px
$font-size-sm = 12px
$font-size = 14px
$font-size-md = 16px
$font-size-lg = 18px
$font-size-xl = 22px
$font-size-xxl = 24px

// Border Radius
$rounded = 8px
$rounded-md = 10px

// Box Shadow
$shadow = 0 .5rem 1rem rgba($black, .15)
$shadow-lg = 0 1rem 3rem rgba($black, .175)
$shadow-sm = 0 .125rem .25rem rgba($black, .075)
$card-shadow = 0.15rem 0.15rem 1rem rgba(0,0,0,0.075)