// Color System
$white = #fff
$gray-100 = #f8f9fa
$gray-200 = #e9ecef
$gray-300 = #dee2e6
$gray-400 = #ced4da
$gray-500 = #adb5bd
$gray-600 = #6c757d
$gray-700 = #495057
$gray-800 = #343a40
$gray-900 = #212529
$black = #000

$color-bg = rgba(255,255,255, 1)
$color-bg-d = rgba(255, 255, 255, .3)
$color-highlight-bg = #333
$color-dialog-bg = #666

// $color-theme = #ffcd32
// 360582
$theme-color = #360582
$color-theme = #360582
// $color-theme = rgba(123, 61, 132, 1)
// $color-theme-d = rgba(255, 205, 49, .5)
$color-theme-d = rgba(123, 61, 132, .5)
$theme-color-sm = rgba(123, 61, 132, .5)
// E51C5A
$color-sub-theme = #E51C5A
$theme-color-sub = #E51C5A

// Text Color
$color-text = #000
$color-text-d = rgba(255, 255, 255, .3)
$color-text-l = rgba(255, 255, 255, .5)
$color-text-ll = rgba(255, 255, 255, .8)

// Header Color
$header-color = $black

$text-color-sm = $gray-300
$text-color-md = $gray-500
$text-color-lg = $gray-600
$text-color-base = $black

// 字体定义规范
$font-family = 'AliHYAiHei',sans-serif
$font-family-al = 'Lobster', cursive

$font-size-xs = 10px
$font-size-sm = 12px
$font-size-base = 14px
$font-size-md = 16px
$font-size-lg = 18px
$font-size-xl = 22px
$font-size-xxl = 24px

// Border Radius
$rounded = 8px
$rounded-md = 10px

// Box Shadow
$shadow-sm = 0 .125rem .25rem rgba($black, .075)
// $shadow = 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)
$shadow = 0 .5rem 1rem rgba($black, .15)
$shadow-lg = 0 1rem 3rem rgba($black, .175)